body{
   height: auto;
   width: auto;
   padding: 5%;
}

.header{
    display: flex;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
/*Hader buttons*/ 
.menu__buttons{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 95%;
}

.toggle__button{
    width:19%;
    padding: 1%;
    border-radius: 10px;
}

.hidden{
    display: none;
}